@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #fff;
  background-color: gray;
  font-family: "Lexend";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@font-face {
  font-family: 'Lexend';
  src: local('Lexend'),
    url('/fonts/lexend-fonts/Lexend-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend-semi';
  src: local('Lexend'),
    url('/fonts/lexend-fonts/Lexend-SemiBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}